<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0dc3b1d201.js" crossorigin="anonymous"></script>
    <!-- tailwindcss -->
    <link rel="stylesheet" href="/css/estilos.css">
    <script src="https://js.stripe.com/v3/"></script>
</head>

<body class="container mx-auto bg-gray-100"> 
    {{{body}}}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="/js/alertas.js"></script>
    {{#if success}}
    <script>
        success("{{success}}")
    </script>
    {{/if}}
    {{#if error}}
    <script>
        error("{{error}}")
    </script>
    {{/if}}
</body>

</html>